body
{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url(/files/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bodywrapper
{
    color: black;
}
.svg_bar {
    mask-repeat: repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    top: 650px
}
a
{
    color:#fff;
    text-decoration: none;
}
.header
{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background:rgba(41, 41, 41, 0.795);
    color:#fff;
    font-family: Apex;
    letter-spacing: 4px;
}
.header__section
{
    display: flex;
    align-items: center;
}
.header__item
{
    display: inline-flex;
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}
.header__item:hover
{
    background-color:rgb(209, 49, 0);
    border-radius: 4px;
}
.headerlogo
{
    cursor: pointer;
    font-weight: bold;
}
.headerbutton
{
    cursor: pointer;
}