body
{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(/files/background1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bodywrapper
{
    height: 100%;
	width: 100%;
	position: absolute;
}
.svg_bar {
    mask-repeat: repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    top: 650px
}
a
{
    color:#fff;
    text-decoration: none;
}
.header
{
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background:#0C0B0B;
    color:#fff;
    font-family: Apex;
    letter-spacing: 4px;
}
.header__section
{
    display: flex;
    align-items: center;
}
.header__item
{
    display: inline-flex;
    padding: 15px 25px;
    font-size: 20px;
    margin-left: 5px;
    transition: all 500ms;
    border-radius: 4px;
}
.header__item:hover
{
    background-color:rgba(255, 255, 255, 0.185);
}
.headerlogo
{
    cursor: pointer;
    font-weight: bold;
}
.headerbutton
{
    cursor: pointer;
}
a.header__item.headerlogo.btnactive{
    background-color:rgba(255, 255, 255, 0.185);

}
.footer{
    position: absolute;
    background-color: #0C0B0B;
    width: 100%;
    height:400px;
    top: 700px;
}